.git
.github
node_modules
build/index.js
build/index.js.map
build/cli/win-x64
build/cli/osx-x64
build/cli/osx-arm64
build/cli/initClient.js
build/cli/initClient.js.map
build/clientConfig
build/transports
*.log
npm-debug.log*
.vscode
.idea
*.test.ts
test-output/
coverage/
.env
.env.*
Dockerfile
.dockerignore
README.md
